/*reset css*/

*{
    /* emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

/*
1. Vi tri
2. Kich thuoc
3. Mau sac
4. Kieu dang  
*/

/* #main {

} */

#header {
    height: 60px;
    background-color: rgb(178, 57, 57);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#logo {
    position: relative;
    display: inline-block;
    top: 10px;
    width: 150px;
    height: 50px;
}

#header img {
	width: 38px;
	height: 36px;
    background-image: url();
	background-size: contain;
}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
    
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}


#nav li a {
    text-decoration: none;
    line-height: 60px;
    padding: 0 24px;
    display: block;
}
#nav .subnav li:hover, #nav > li:hover > a {
    background-color: #ccc;
    color: #000;
}

/* #nav li:hover a  {
    
    
} */

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: rgb(0, 0, 0);
    width: 150px;
}

div .search_button {
    float: right;
    font-size: 30px;
    color: rgb(255, 255, 255);
    line-height: 60px;
    padding: 0 24px;
}

#header .search_button:hover {
    background-color: #f44336;
}
#footer {
    text-align: center;
}
/* hết phần chung: header, footer
#slider {
    min-height: 900px;
    background-color: #333;
}
/* CSS sản phẩm*/
h1 { 	
	margin: 12px 0 16px;		
	font-size: 28px; 	 
	line-height: 34px;	 
    color: blue;
	text-align:center;
	text-transform: uppercase;
}
.maingiohang{
    background-color: rgb(170, 170, 170);
    margin: 20px 20px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.danhmuc{
    padding-left: 20px;
    margin: 2px;
    border: #000 solid 2px;
    background-color: #ccc;
}
.sanpham{
    break-before: column;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.product{
    background-color: #b4ddeb;
    border: #000 solid 2px;
    text-align: center;
    margin: 2px;
    height: 350px;

}
h2{
    margin-top: 20px;
}
.imgProduct{
    margin-top: 30px;
    height: 100px;
    width: 100px;
}
.decProduct{
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;
}
.Cost{
    margin-top: 20px;
    text-align: left;
}
.Buy{
    background-color: #f44336;
    font-size: large;
    margin: 10px 10px;
    width: 150px;
}
.inputD{
    margin-top: 10px;
}
.inputSL{
    width: 100px;
    
}
/* CSS trang chủ*/
#sliderTC {
    margin-top: 60px;
    padding-top: 30%;
    background: url('/Do_An_Web/assets/img/banner-web-4.png') top center / cover no-repeat;
}

#contentTC {
    margin-top: 100px;
    margin-left: 50px;
}

.trendingTC{
    position: top center;
    width: 40%;
    margin: 40px;
}

#top-sellerTC {
    margin-top: 60px;
    position: top center;
    height: auto;
    padding-left: 50px;
}

/* #content {

} */
/*CSS đăng nhập, đăng kí*/
#contentDNDK {
    min-height: 796px;
    background-color: #fff;
}
#contentDNDK form{
    width: 100%;
    height: auto;
    padding-top:100px;
    padding-left: 30%;
    padding-right: 30%;
    background-clip: content-box;
    background-color: rgb(214, 208, 208);
    font-size: 22px;
}
form .title-nameDNDK{
    font-weight: 800;
    text-align: center;
    font-size: 25px;
    height: 50px;
    padding-top: 20px;
}
.user , .pass , .name , .phone , .email , .repass{
    display:grid;
    grid-template-columns: 120px auto 20px;
    padding: 15px 30px;
}
.submitDNDK{
    display:grid;
    padding: 20px 30px;
    grid-template-columns: auto 120px;
    font-size: 15px;
    align : right;
}
/* Lien He */
#contentLH{
    background-color: #ccc;
    height: auto;
    padding-top:100px;
    padding-left: 20%;
    padding-right: 20%;
    background-clip: content-box;
}
#contentLH h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

#contentLH form#user{
    display:grid;
    padding: 0px 10px;
    grid-template-columns: auto auto;
    font-size: 20px;
}

#contentLH form input{
    height: 30px;
    margin: 5px;
}

#contentLH select{
    margin: 10px 15px;
    grid-template-columns: auto auto;
    font-size: 15px;
    height: 30px;
    width: 200px;
}
#contentLH input[type="submit"]
{
    margin-left: 0px;
    width: 50px;
}
/* Gop Y */
#contentLH form#gopY{
    margin: 0px 15px;
    width: auto;
}

#contentLH form#gopY textarea{
    width: 100%;
    height: 250px;
}
/* Bao Hanh */
#contentLH form#baoHanh{
    margin: 0px 15px;
}
#contentLH form#baoHanh #TTSP{
    display:grid;
    grid-template-columns: auto auto;
}
#contentLH form#baoHanh #TTSP input{
    margin-left: 0px;
    margin-right: 10px;
}
#contentLH form#baoHanh textarea{
    width: 100%;
    height: 200px;
}
/*Trang đơn hàng*/

#donhang{
   
    font-size: 25px;
    margin: 100px 80px;
    padding: auto;
}
#hoadon{
    padding: 1%;
    border: #000 solid 2px;
}
#hoadon h2{
    margin: 0 0;
}
#btnGiohang button{
    margin: auto 45%;
    top: 30px;
    font-size: 25px;
    width:max-content;
    height: 5%;
}