/*reset css*/

*{
    /* emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

/*
1. Vi tri
2. Kich thuoc
3. Mau sac
4. Kieu dang  
*/

/* #main {

} */

#header {
    height: 60px;
    background-color: #000;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

#header #logo  {
    display: inline-block;
    line-height: 60px;
}

#header img {
	width: 38px;
	height: 36px;
    background-image: url();
	background-size: contain;
}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
    
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}


#nav li a {
    text-decoration: none;
    line-height: 60px;
    padding: 0 24px;
    display: block;
}
#nav .subnav li:hover, #nav > li:hover > a {
    background-color: #ccc;
    color: #000;
}

/* #nav li:hover a  {
    
    
} */

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    width: 150px;
}

#header .search_button {
    float: right;
    font-size: 30px;
    color: white;
    line-height: 60px;
    padding: 0 24px;
}

#header .search_button:hover {
    background-color: #f44336;
}

/* #slider {
    min-height: 900px;
    background-color: #333;
} */
h1 { 	
	margin: 12px 0 16px;		
	font-size: 28px; 	 
	line-height: 34px;	 
    color: blue;
	text-align:center;
	text-transform: uppercase;
}
h1:after {
	position: relative;
	left: 40%;
	display: block;		
	content: " "; 
	width: 300px;
	height: 3px;	
    transform: rotateX(-12) translateX(50%);
    background: -webkit-radial-gradient(#cddc39, #fff); 
}
.maingiohang{
    position: relative;
    background-color: aqua;
    margin: 20px 20px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.danhmuc{
    position: relative;
    padding-left: 20px;
    margin: 2px;
    border: #000 solid 2px;
    background-color: #ccc;
}
.sanpham{
    break-before: column;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.product{
    position: relative;
    background-color: #cddc39;
    border: #000 solid 2px;
    text-align: center;
    margin: 2px;
    height: 350px;

}
h2{
    margin-top: 20px;
}
.imgProduct{
    margin-top: 30px;
    height: 100px;
    width: 100px;
}
.decProduct{
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;
}
.Cost{
    margin-top: 20px;
    text-align: left;
}
.Buy{
    background-color: #f44336;
    font-size: large;
    margin: 10px 10px;
    width: 150px;
}
.inputD{
    margin-top: 10px;
}
.inputSL{
    width: 100px;
    
}

/* #content {

} */

#footer {
    text-align: center;
}